@font-face {
  font-family: "Relaway";
  src: url("../fonts/RalewayRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Relaway";
  src: url("../fonts/RalewayBold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Relaway";
  src: url("../fonts/RalewayExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Intro";
  src: url("../fonts/IntroRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

// body {
//   font-family: "Open Sans", "Arial", sans-serif;
//   font-size: 17px;
//   line-height: 24px;
//   color: #000000;
// }
