.ready {
  width: 100%;
  background-color: $light-gray-bg;
  padding-top: 70px;
  padding-bottom: 70px;
}

.ready__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ready__left {
  border-right: 1px solid #dadada;
  padding-right: 80px;
  padding-top: 40px;

  h3 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
  }

  p {
    font-size: 18px;
  }
}

.ready__right {
  padding-left: 40px;
}


@media (max-width: 768px) {
  .ready {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .ready__content {
    grid-template-columns: 1fr;
  }

  .ready__left {
    padding-right: 0;

    h3 {
      font-size: 28px;
      text-align: center;
    }

    p {
      font-size: 16px;
      padding: 0 8%;
    }
  }

  .ready__left {
    border-right: none;
  }
}

@media (max-width: 320px) {
  .ready__left {
    padding-top: 0;
  }
}
